*{
    margin:0;
    padding:0;
}

body{
    background: url(img/airplane-flying-clouds-sunset-light_335224-1386.avif);
    background-size: cover;
}

.main{
    width: 100%;
    color: antiquewhite;
    background-position: center;
    background-size: cover;
    height: 150px;
    background-color: transparent;
    font-family: Arial black;
    
}

.navbar{
    width: auto;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: white;
    padding-left: 40px;
    float: left;
    padding-top: 20px;
    font-size: 35px;
    line-height: 50px;
}

.menu{
    width: 350px;
    float: left;
    height: 70px;
    
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

ul li{
    list-style: none;
    margin-top: 58px;
    font-size: 23px;
    padding-left: 160px !important;
}

.button{
    width: 330px;
    float: left;
    margin-left: 1200px;
    margin-top: 48px;
}

.btn{
    width: 350px;
    height: 60px;
    font-family: Arial;
    font-size: 35px;
    background-color: gold;
    border: 1px solid;
    border-radius: 40px;

}

.content{
    width: 1200px;
    height: auto;
    margin-left: 150px;
    position: relative;
    font-size: 40px;
    padding-top: 250px;
}

.content .main-heading{
    font-family:Helvetica;
    font-size: 80px;
    letter-spacing: 4px;
}

p{
    font-size: 35px;
}

.flight-button{
    width: 550px;
    height: 60px;
    font-size: 25px;
    font-family: helvetica;
    background-color: goldenrod;
    border: 1px solid;
    border-radius: 40px;
}



.form{
    width: 650px;
    height: 600px;
    background-color: transparent;
    position:absolute;
    left: 1770px;
    top: 420px;
    border-radius: 10px;
    padding: 25px;
    background-color: white;
    opacity: .7;
}

.form h2{
    width: 300px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    font-size: 49px;
    margin-left: 170px;
    margin-bottom: 40px;
    

}

.form input{
    width: 500px;
    height: 60px;
    background: transparent;
    margin-left: 90px;
    font-size: 23px;
    
}

.form-btn{
    width: 250px;
    height: 60px;
    font-size: 20px;
    margin-left: 210px;
    margin-top: 20px;
    background-color: goldenrod;
    border: 1px solid;
    border-radius: 40px;
} 

.link{
    margin-left: 176px;
    margin-top: 70px;
    font-size: 35px;
}

.form a{
    margin-left: 280px;
    font-size: 22px;
}